{% extends 'shopapp/base.html' %}

{% block title %}
  Delete archive {{object.name}}
{% endblock %}

{% block body %}
    <h1>Are you sure you want to archive product: {{object.name}}</h1>
    <br>
    <div>
        <a href="{% url 'shopapp:product_detail' pk=object.pk %}">Back to product details</a>
    </div>
    <br>
    <div>
        <form action="" method="post">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit">Archive</button>
        </form>
    </div>
{% endblock %}