{% extends 'shopapp/base.html' %}

{% load i18n %}

{% block title %}
  {% translate 'Products list' %}
{% endblock %}

{% block body %}
  <h2>{% translate 'Products' %}:</h2>
  {% if products %}
  <div>
    {% for product in products %}
      <div>
        <p><a href="{% url 'shopapp:product_detail' pk=product.pk %}">{% translate 'Name' context 'product name' %}: {{product.name}}</a></p>
        <p>{% translate 'Price' %}: {{product.price}}</p>
        {% translate 'no discount' as no_discount %}
        <p>{% translate 'discount' %}: {% firstof product.discount no_discount %}</p>

        {% if product.preview %}
          <img src="{{product.preview.url}}" alt="{{product.preview.name}}" width="150" height="100">
        {% endif %}
      </div>
    {% endfor %}
  </div>
  {% else %}
  <h3>{% translate 'No products yet' %}</h3>
  {% endif %}

  <div>
    <a href="{% url 'shopapp:product_create' %}">{% translate 'Create a new product' %}</a>
  </div>
{% endblock %}