{% extends 'admin/change_list.html' %}

{% block object-tools-items %}
{% load admin_urls %}
    <li>
        <a href="{% url 'admin:import-products-csv' %}" class="addlink">
            Import CSV
        </a>
    </li>
    {{block.super}}
{% endblock %}