{% extends 'shopapp/base.html' %}

{% block title %}
  Shop Index
{% endblock %}

{% block body %}
    <h1>Hello Shop Index</h1>

    <div>
      <ul>
        {% for product in products %}
          <li>{{product}}</li>
        {% endfor %}
      </ul>
    </div>

    <div>
        Time running: {{ time_running }}
    </div>
    <div>
        {% lorem 3 p %}
    </div>
{% endblock %}
