{% extends 'admin/base.html' %}

{% block content %}
    <div>
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{form.as_p}}
            <div class="submit-row">
                <input type="submit" value="Upload CSV">
            </div>
        </form>
    </div>
{% endblock %}