<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>
<body>
{% block body %}
{% endblock %}

<br>
<div>
    HTTP User-Agent {{request.user_agent}}
</div>
</body>
</html>