{% extends 'requestdataapp/base.html' %}

{% block title %}
  File upload
{% endblock %}

{% block body %}
<h1>Upload file</h1>
<form action="" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {{form.as_p}}
  <button type="submit">Upload</button>
</form>

{% endblock %}